@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn{
    background-color: purple;
    padding: 1rem 1.5rem;
    color: #fff;
    border-color:#fff;
    border-radius: 5px;
}
